*{
  padding: 0;
  margin: 0;
  font-family: "Jersey 20", sans-serif;
  scroll-behavior: smooth;
}
header{
  display: flex;
  background-color: #ffffff;
  width: 100vw;
  height: 5em;
  border-bottom:2px solid #FF9E01;
  box-shadow: 0px 0px 50px 1px gray;
  z-index: 9999;
}
.header-logo{
  width: 13%;
  min-width: 50px;
  margin: 0 0.2em 0 2.4em;
  
}
/*CSS FOR THE LEFT SIDE OF THE HEADER*/
.header-branding-div{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
  width: 50%;
  min-width: 100px;
  color: #04045E;
  flex-shrink: 1;;

}
.header-branding-div h1{
 font-size: 4vw;
}
.design-1{
  color: #FF9E01;
}

/* CSS FOR THE RIGHT SIDE OF THE HEADER*/
nav{
  display: flex;
  width: 80%;
  background-color: transparent;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 1;
  padding: 2em;
  box-sizing: border-box;
  
}
nav ul{
  display: flex;
  flex-direction: row;
  margin: 0 2em ;
  flex-shrink: 1;
}
nav li{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0.5em;
  background-color: transparent;
  width: 6em;
  height: 2em;
  border: 1px solid #04045E;
  border-radius: 12px;
  font-size: 1fr;
  flex-shrink: 1;
}
nav li:hover a{
  background-color: #04045E;
  color: #FF9E01;
}

nav a{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: transparent;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  flex-shrink: 1;
  color: #04045E;
}

.content{
   width: 100vw;
   height: 90vh;
   background-color: #f7f7f7;
   z-index: -2;
}
.homeSection{
  width: 100%;
  background-color: #f7f7f7;
  height: 83%;
  box-sizing: border-box;
  padding: 2em;
  z-index: 5;
}
.homesection-upper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 65%;
  background-color: transparent;
  font-size: 3rem;
  padding: 1em;
  box-sizing: border-box;
  color: #04045E;
  flex-shrink: 1;
  z-index: 5;
}

.homesection-upper h2{
 z-index: 5;
}

.submitButton {
height: 60%;
width: 20%;
margin: 0 1em 0 1em;
background-color: transparent;
border: 2px solid #FF9E01;
border-radius: 10px;
transition: background-color 0.2s ease-in-out;
font-size: 1.2em;
z-index: 2;
}

.submitButton:hover{
  background-color: #FF9E01;
  cursor: pointer;
}

.homesection-email-div{
background-color: transparent;
width: 45%;
height: 4em;
margin: 1em 3em;
display: flex;
justify-content: center;
align-items: center;
min-width: 450px;
z-index: 2;

}
.homesection-email-div input{
  width: 80%;
  height: 30%;
  padding: 1em;
  border-radius: 10px;
  border: 2px solid #FF9E01;
  outline: none;
  font-size: 1.2em;
  color: #04045E;
  min-width: 200px;
  z-index: 2;
}

.ccis-logo{
  position: absolute;
  top: 10vh;
  right: 1vw;
  width: 35%;   
  min-width: 400px; 
  z-index: 2;
}

.bt-1{
  position: absolute;
  top:90px;
  right: 50px;
  width: 70%;
  height: 70%;
  z-index: 0;
  pointer-events: none;
}
.bt-2{
  position: absolute;
  left: -300px;
  top: 80px;
  width: 50%;
  height: 50%;
  z-index: 0;
  pointer-events: none;
}
.bt-3{
  position: absolute;
  left: -80px;
  bottom: -5px;
  width: 80%;
  height: 80%;
  z-index: 0;
  pointer-events: none;
}

.featuresSection{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
  background-color: #f7f7f7;
  position: relative;
  color: #04045E;
  z-index: 1;
}
.featuresHeader{
  width: 50%;
  height: 20%;
  background-color: none;
  font-size: 2.5vw;
  box-sizing: border-box;
  padding: 0.7em;
  margin: 1em 0;
}
.feature-summary-card{
  display: flex;
  justify-self: center;
  align-self: center;
  height: 90%;
  width: 90%;
  min-width: 500px;
  background-color: transparent;
  margin: 0.4em 0;
  padding: 1em;
  box-sizing: border-box;
  z-index: 0;
  flex-wrap: wrap;
  
}
.floating-ccis{
  display: flex;
  position: absolute;
  justify-content: center;
  right: 30px;
  bottom: 100px;
  flex-direction: row;
  height: 60%;
  width: 3%;
  font-size: 4em;
  flex-wrap: wrap;
  background-color: transparent;
  margin: 0 0 0 0.5em;
  z-index: 1;
  pointer-events: none;
}
.card-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 27%;
  height: 15em;
  margin: 1em;
  background-color: #f7f7f7;
  border: 1px solid #04045E;
  border-radius: 15px;
  padding: 0.6em;
  box-sizing: border-box;
  z-index: 5;
  min-width: 250px;
}
.image-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 100%;
  margin-bottom: 0.5em;

}
.card-container img{
  width: 50%;
  height: auto;
  min-width: 150px;
  background-color: transparent;
}

.triangle-background-1{
  position: absolute;
  width: 100vw;  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  pointer-events: none;
  }

  .about-container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    background-color: transparent;
  }
  .about-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #04045E;
    color: #FF9E01;
    box-sizing: border-box;
    padding: 1em;
    border-top: 5px solid #FF9E01;
    border-bottom: 5px solid #FF9E01;
  }
  .about-header h3{
     font-size: 4em;
  }

  .about-header p{
    font-size: 1.4em;
    padding: 1em 5em;
    text-align: center;
 }
 .about-card-container{
    background-color: #FF9E01;
    width: 25em;
    padding: 2em;
    min-width: 250px; 
    min-height: 250px; 
    border-radius: 15px;
    border: 1px solid #04045E;
    color: #04045E;
 }
 .about-card-container p{
  font-size: 1.5em;
  text-align: justify;
 }
 .about-card-container h4{
  font-size: 3.5em;
  margin: 0.2em 0;
}
.about-layout-card-right{
  background-color:transparent;
  display: flex;
  box-sizing: border-box;
  padding: 2em 5em;
}

.about-layout-card-left{
  background-color:transparent;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 2em 5em;

}

.about-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: #04045E;
  color: #FF9E01;
  box-sizing: border-box;
  padding: 1em;
  margin: 5em 0 3em 0;
  border-top: 5px solid #FF9E01;
  border-bottom: 5px solid #FF9E01;
}

.about-footer p{
  font-size: 2.1em;
  padding: 0.8em 4em;
  text-align: center;
}

.contact-content{
   display: flex;
   flex-direction: column;
   width: 100vw;
   height: 100%;
   background-color: transparent;
}

.contact-header{
   width: 100%;
   height: auto;
   background-color: transparent;
   color: #04045E;
   padding: 1em;
   font-size: 2.3em;
}
.contact-body{
   display: flex;
   flex-direction: column;
   width: 100%;
   height: auto;
   background-color: transparent;
   justify-content: center;
   align-items: center;
}
.contact-card{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20em;
  height: 20em;
  padding: 1em;
  margin: 1.4em 0;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 25px;
  flex-direction: column;
}

.contact-card img{
  padding: 1em;
}
.contact-card p{
  font-size: 2vw;
  text-align: center;
  margin-bottom: 1.2em;
}

.contact-card button{
  font-size: 2vw;
  text-align: center;
  padding: 0.3em;
  border-radius: 100px;
  background-color: #04045E;
  color: #FF9E01;
  transition: all 0.2s ease-in-out;
}

.contact-card button:hover{
  background-color: transparent;
  color: #04045E;
  border: 2px solid #FF9E01;
}

footer{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 1.5em;
  background-color: #04045E;
  color: snow;
  border-top: 2px solid #FF9E01;
  border-bottom: 2px solid #FF9E01;
}
.footer-content h1{
    font-size: 45px;
    margin: 0.5em 0;
}
.footer-cri{
  align-self: center;
  justify-self: center;
  margin-top: 25px;
}




